.App {
  text-align: center;
}
.btn{
  border: 1px solid #b9b9b9;
}
.btn:hover{
  background-color: gray;
  color: white;
}
.top-container{
  background-image: url('https://cdn.discordapp.com/attachments/690148635375435825/856863476529627166/wallpaperflare.com_wallpaper.jpg');
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
}
.top-section{
  background-color: rgba(0, 0, 0, 0.63);
  color: aliceblue;
  padding: 30px;
}
.active {
  border-bottom: 3px solid green;
  font-weight: bold;
  background-color: honeydew;
}